<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyRRZOsdzuP_eXMAccJmvNZ0HILXGLFpo</string>
	<key>GCM_SENDER_ID</key>
	<string>354226270164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPortfolioApp</string>
	<key>PROJECT_ID</key>
	<string>my-portfolio-8e114</string>
	<key>STORAGE_BUCKET</key>
	<string>my-portfolio-8e114.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354226270164:ios:42522e8e1bf1c2bb1cf041</string>
</dict>
</plist>